<h2>My Heroes</h2>
<ul class="heroes">
	<!-- [class.aaa]="hero === selectedHero"  -->
	<!-- [ngClass]="classFlag?'aaa':'bbb'" -->
	<!-- class="className" -->
	<li *ngFor="let hero of heroes" [ngClass]="classFlag?'aaa':'bbb'" (click)="onSelect(hero)">
		<a routerLink="/detail/{{hero.id}}">
			<td class="id">{{hero.id}}</td>
			<td class="name">{{hero.name}}</td>
		</a>
		<button class="delete" title="delete hero" (click)="delete(hero)">x</button>
	</li>
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<div>
	<label>Hero name:
    <input #heroName />
  </label>
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<app-hero-search></app-hero-search>
